<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pendientes}}</strong> tareas pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <!-- selected -->
        <li *ngFor="let filtro of filtros">
            <a [ngClass]="{'selected': filtro === filtroActual}" (click)="cambiarFiltro(filtro)" style="cursor: pointer;">{{filtro}}</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="limpiarTodos()">Limpiar completos</button>
</footer>